
body
{
    background: #fbae17;		

}

a
{
    color: #e4e6dd;
    text-decoration:none;
}

#container
{
    font-family: Helvetica, sans-serif, Arial;
    font-weight: bold;
    color: #e4e6dd;
    max-width:1080px;
    width:90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    font-size: 80px;
    font-size: 7vmax;
    overflow-wrap: break-word;	
    
}

#refresh
{
    font-family: Helvetica, sans-serif, Arial;
    font-size: 20px;		
    font-size: 3vmax;
    font-weight: normal;
    margin-top:5%;
    
}

.meaning
{   padding-top:3%;
    font-size: 25px;
}

.left
{
    float:right;
    padding-right:20px;
    padding-bottom:10px;
    
}
.right{
    float:right;
    padding-right:20px;
    padding-left:10px;
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding-bottom:3%;
  }

@media screen and (min-device-width: 800px) {

    #refresh
    {
        font-size: 25px;
    }
}
